html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  font-family: Futura, Verdana, sans-serif;
  background-color: papayawhip;
  width: 80%;
  margin: auto;
}

input {
  background-color: papayawhip;
  /*#FFF7E9;*/
  color: blue;
  font-size: 1em;
  margin: 5px 20px 20px 20px;
  outline: none;
  border-width: 0px;
  padding: 5px 20px;
  font-family: Futura, Verdana, sans-serif;
  border-radius: 20px;
}

.text {
  background-color: rgba(35, 181, 211, 0.5);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px
}

.red {
  color: red;
}

h3 {
  background-color: rgba(255, 255, 100, 0.5);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
}

a {
  color: #4d96c6;
  /*#6667ff;*/
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

a:hover {
  color: #4d96c6;
  /*black*/
  border-bottom: 2px solid #4d96c6;
  /*#6667ff;*/
}

#feedtext {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1em;
  font-family: Futura, Verdana, sans-serif;
  resize: none;
  transition: 0s;
}

::placeholder {
  color: grey;
  font-family: Futura, Verdana, sans-serif;
}

.feedsubmit {
  background-color: yellowgreen;
  padding: 5px 20px;
  margin: 0px 0px 20px 0px;
  font-size: 1em;
  font-family: Futura, Verdana, sans-serif;
  transition: 0.3s;
  outline: none;
  border: none;
}

.feedsubmithover:hover {
  background-color: #6667ff;
  color: #FFF7E9;
}

.feedsubmitactive:active {
  transition: 0s;
  color: rgba(255, 255, 255, 0);
}

#cares {
  color: blue;
  font-weight: 400;
  font-family: courier, monospace;
  font-size: 1.3em;
}

.detail {
  font-size: 0.9em;
  color: #222;
}

.dropdowns {
  font-size: 1em;
  font-family: Futura, Verdana, sans-serif;
  background-color: papayawhip;
  color: blue;
  border: none;
  outline: none;
}

#currency {
  color: red;
}

#dropcontain {
  margin: 0;
}

#nobottommargin {
  margin: 0;
}

#scroll {
  padding: 10px;
}