* {
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  font-family: Futura, Verdana, sans-serif;
  background-color: papayawhip;
  width: 80%;
  margin: auto;
}

input {
  background-color: #FFF7E9;
  color: blue;
  font-size: 1em;
  margin: 5px 20px 20px 20px;
  outline: none;
  border-width: 1px;
  padding: 4px;
  font-family: Futura, Verdana, sans-serif;;
}

#result {

}

#inputs {

}

.text {
  background-color: rgba(35, 181, 211, 0.5);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px
}


#dirhams {
  color: red;
}

h3 {
  background-color: rgba(255, 255, 100, 0.5);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
}

a {
  color: #6667ff;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
  color: black;
}
#feedtext {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1em;
  font-family: Futura, Verdana, sans-serif;
}

::placeholder {
  color: grey;
  font-family: Futura, Verdana, sans-serif;
}

.feedsubmit {
  background-color: yellowgreen;
  padding: 5px 20px;
  margin: 0px 0px 20px 0px;
  font-size: 1em;
  font-family: Futura, Verdana, sans-serif;
  transition: 0.3s;
  outline: none;
}

.feedsubmithover:hover {
  background-color: #6667ff;
  color: #FFF7E9;
}

.feedsubmitactive:active {
  transition: 0s;
  color: red;
}
