html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

* {
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  font-family: Futura, Nunito, Verdana, sans-serif;
  background-color: papayawhip;
  margin: 0;
}

#hero1 {
  background-image: url("bluetesla.jpg");
}

.hidden {
  font-size: 3em;
  text-align: center;
  animation-name: fadeout;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.heroinner {
  animation-name: fadein;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  font-size: 3em;
  text-align: center;
}

@keyframes fadein {
  0% {
    transform: scale(0.90);
    opacity: 0;
  }

  10% {
    transform: scale(0.90);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    transform: scale(0.90);
    opacity: 0;
  }

  10% {
    transform: scale(0.90);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeout {
  100% {
    transform: scale(0.90);
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  100% {
    transform: scale(0.90);
    opacity: 0;
  }
}

#hero2 {
  background-image: url("redtesla.jpg");
}

.hero {
  cursor: none;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition-duration: 0s;
  opacity: 1;
}

main {
  margin: 0% 10% 0% 10%;
  width: 80%;
}

input {
  background-color: papayawhip;
  /*#FFF7E9;*/
  color: blue;
  font-size: 1em;
  margin: 5px 20px 20px 20px;
  outline: none;
  border-width: 0px;
  padding: 5px 20px;
  font-family: Futura, Nunito, Verdana, sans-serif;
  border-radius: 20px;
}

.text {
  background-color: rgba(35, 181, 211, 0.5);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px
}

.red {
  color: red;
}

h1 {
  font-family: Nunito, Futura, Verdana, sans-serif;
}

h3 {
  background-color: rgba(255, 255, 100, 0.5);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
  font-family: Nunito, Futura, Verdana, sans-serif;
}

a {
  color: #4d96c6;
  /*#6667ff;*/
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

a:hover {
  color: #4d96c6;
  /*black*/
  border-bottom: 2px solid #4d96c6;
  /*#6667ff;*/
}

#feedtext {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1em;
  font-family: Futura, Nunito, Verdana, sans-serif;
  resize: none;
  transition: 0s;
}

::placeholder {
  color: grey;
  font-family: Futura, Nunito, Verdana, sans-serif;
}

.feedsubmit {
  background-color: yellowgreen;
  padding: 5px 20px;
  margin: 0px 0px 20px 0px;
  font-size: 1em;
  font-family: Futura, Nunito, Verdana, sans-serif;
  transition: 0.3s;
  outline: none;
  border: none;
}

.feedsubmithover:hover {
  background-color: #6667ff;
  color: #FFF7E9;
}

.feedsubmitactive:active {
  transition: 0s;
  color: rgba(255, 255, 255, 0);
}

.detail {
  font-size: 0.9em;
  color: #222;
}

.dropdowns {
  font-size: 1em;
  font-family: Futura, Nunito, Verdana, sans-serif;
  background-color: papayawhip;
  color: blue;
  border: none;
  outline: none;
}

#currency {
  color: red;
}

#dropcontain {
  margin: 0;
}

#nobottommargin {
  margin: 0;
}

#scroll {
  padding: 10px;
}