* {
  box-sizing: border-box;
}

body {
  background-color: papayawhip;
  font-family: Futura, Nunito, Verdana, sans-serif;
}

a {
  color: #4d96c6;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

a:hover {
  color: #4d96c6;
  border-bottom: 2px solid #4d96c6;
}

main {
  margin: 0% 10% 0% 10%;
  width: 80%;
}

h1 {
  font-family: Nunito, Futura, Verdana, sans-serif;
}